body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
}

.individual-playlist {
  width: 80%;
  margin: 2rem auto;
  padding: 1rem;
  box-shadow: 10px 12px 14px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.individual-playlist-genre {
  font-weight: bold;
  margin-top: 1.2rem;
  font-size: 1.8rem;
  color: #666;
  text-align: center;
}

.individual-playlist-musics {
  margin-top: 1rem;
  font-size: 1.2rem;
  list-style: none;
  padding: 0;
}

.individual-playlist-musics li {
  margin: 1.2rem 0;
}

.individual-playlist-buttons {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.individual-playlist-button-delete{
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  margin: 0 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.individual-playlist-button-edit {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  margin: 0 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.individual-playlist-button-delete:hover,
.individual-playlist-button-edit:hover {
  opacity: 0.8;
}